/*   This is the style sheet file for my github personal web site
 *      It is not big staff, but it will be one day.
 *      (c) Akrem Gassoumi
 * */

    body {
        background-color: none; 
        font-style: "Times New Roman";
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 50px;
        padding-right: 50px;
    }


    p{
        text-align: left;
        font-style: "New Roman Times";
        padding-left: 10px;
        padding-right: 10px;
     }

    h4{
        color: blue;
        padding-left: 50px;
    }

    blockquote{
        padding-top: 10px;        
        padding-bottom: 10px;
        padding-right: 10px;
        padding-left: 10px;
        background-color: #F8F8F8;
    }

    h5{
        color: #A0A0A0;
        font-variant: small-caps;
        font-weight: 900;
    } 
